<div class="keyboard">

  <div class="keyboard-body">

    <div class="key function space1" style="background-color: #00A186">Esc</div>
    <div class="key function">F1</div>
    <div class="key function">F2</div>
    <div class="key function">F3</div>
    <div class="key function space2">F4</div>
    <div class="key function" style="background-color: #DE5344">F5</div>
    <div class="key function" style="background-color: #DE5344">F6</div>
    <div class="key function" style="background-color: #DE5344">F7</div>
    <div class="key function space2" style="background-color: #DE5344">F8</div>
    <div class="key function">F9</div>
    <div class="key function">F10</div>
    <div class="key function">F11</div>
    <div class="key function">F12</div>
    <!--f키 종료 -->
      
    <div class="key num dual" style="background-color: #F8B334">~<br>`</div>
    <div class="key num dual">!<br>1</div>
    <div class="key num dual">@<br>2</div>
    <div class="key num dual">#<br>3</div>
    <div class="key num dual">$<br>4</div>
    <div class="key num dual">%<br>5</div>
    <div class="key num dual">^<br>6</div>
    <div class="key num dual">&<br>7</div>
    <div class="key num dual">*<br>8</div>
    <div class="key num dual">(<br>9</div>
    <div class="key num dual">)<br>0</div>

    <div data-key="189" data-count="5" class="key letter">Е</div>
    <div data-key="187" data-count="28" class="key letter">Щ</div>
    
    <div class="key backspace" style="background-color: #DE5344">Backspace</div>
    
    <!--넘버 종료 -->
      
    <div class="key tab" style="background-color: #F8B334">Tab</div>

    <div data-key="81" data-count="23" class="key letter">Ф</div>
    <div data-key="87" data-count="25" class="key letter">Ц</div>
    <div data-key="69" data-count="21" class="key letter">У</div>
    <div data-key="82" data-count="7" class="key letter">Ж</div>
    <div data-key="84" data-count="32" class="key letter">Э</div>
    <div data-key="89" data-count="14" class="key letter">Н</div>
    <div data-key="85" data-count="3" class="key letter">Г</div>
    <div data-key="73" data-count="27" class="key letter">Ш</div>
    <div data-key="79" data-count="22" class="key letter">Ү</div>
    <div data-key="80" data-count="8" class="key letter">З</div>
    <div data-key="219" data-count="11" class="key letter">К</div>
    <div data-key="221" data-count="29" class="key letter">Ъ</div>
    
    <div class="key letter dual slash" style="background-color: #DE5344">|<br>\</div>
    <div class="key caps" style="background-color: #F8B334">Caps<br>Lock</div>

    <div data-key="65" data-count="10" class="key letter">Й</div>
    <div data-key="83" data-count="30" class="key letter">Ы</div>
    <div data-key="68" data-count="1" class="key letter">Б</div>
    <div data-key="70" data-count="16" class="key letter">Ө</div>
    <div data-key="71" data-count="0" class="key letter">А</div>
    <div data-key="72" data-count="24" class="key letter">Х</div>
    <div data-key="74" data-count="18" class="key letter">Р</div>
    <div data-key="75" data-count="15" class="key letter">О</div>
    <div data-key="76" data-count="12" class="key letter">Л</div>
    <div data-key="186" data-count="4" class="key letter">Д</div>
    <div data-key="222" data-count="17" class="key letter">П</div>
    
    <div class="key enter" style="background-color: #DE5344">Enter</div>
    <div class="key shift left"  style="background-color: #F8B334">Shift</div>

    <div data-key="90" data-count="34" class="key letter">Я</div>
    <div data-key="88" data-count="26" class="key letter">Ч</div>
    <div data-key="67" data-count="6" class="key letter">Ё</div>
    <div data-key="86" data-count="19" class="key letter">С</div>
    <div data-key="66" data-count="13" class="key letter">М</div>
    <div data-key="78" data-count="9" class="key letter">И</div>
    <div data-key="77" data-count="20" class="key letter">Т</div>
    <div data-key="188" data-count="31" class="key letter">Ь</div>
    <div data-key="190" data-count="2" class="key letter">В</div>
    <div data-key="191" data-count="33" class="key letter">Ю</div>

    <div class="key shift right" style="background-color: #F8B334">Shift</div>
    <div class="key ctrl">Ctrl</div>
    <div class="key"></div>
    <div class="key">Alt</div>
    <div class="key space"></div>
    <div class="key">Alt</div>
    <div class="key"></div>
    <div class="key">Prnt</div>
    <div class="key ctrl">Ctrl</div>

  </div>

</div>