<div class="wrapper">

    <div class="content">
        
        <div class="box a"><h3>{{ key.count | screenLetter:-2 }}</h3></div>

        <div class="box b"><h2>{{ key.count | screenLetter:-1 }}</h2></div>

        <div class="box c"><h1>{{ key.count | screenLetter:0 }}</h1></div>

        <div class="box d"><h2>{{ key.count | screenLetter:1 }}</h2></div>

        <div class="box e"><h3>{{ key.count | screenLetter:2 }}</h3></div>

        <!--<h1>АБВГДЕЁЖЗИЙКЛМНОӨПРСТУҮФХЦЧШЩЪЫЬЭЮЯ</h1>-->

    </div> 
</div>